html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    background: rgba(245, 245, 246, 0.6);

}

.index{
    background: #000042;
}

.business{
    background: #E5E5E5;
}

.bx-shadow{
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 0px 0px -1px rgba(0, 0, 0, 0.05);
}


@media (min-width: 993px){

    .sidebar .collapse {
        display: block!important;
    }
}


.sidebar {
    top: 0;
    /* display: none; */

    height: 100%;
    width: 300px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    /* box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 0px 0px -1px rgba(0, 0, 0, 0.05); */
}


.main {
    margin-left: 300px;
    background: #fff;
    height: 100%;

}
.main-box {
    padding-top: 44px;
    background: rgba(245, 245, 246, 0.6);


}
.main {
    transition: margin-left 0s;
}

.menu-item{
    position: relative;
}
nav .menu-item.active::before{
    content: '';
    height: 100%;
    width: 5px;
    top: 0;
    position: absolute;
    left: 0;
    background-color: #6E65D9;
    border-radius: 7px;
    opacity: 1;
}

nav .menu-item.active{
    color: #6E65D9;
}

nav .menu-item::before{
    opacity: 0;
    transition: all 300ms ease-in;

}
nav .menu-item:hover::before{
    content: '';
    height: 100%;
    width: 5px;
    top: 0;
    position: absolute;
    left: 0;
    background-color: #6E65D9;
    border-radius: 7px;
    transition: all 1.2s ease-in;
    opacity: 1;
}
nav .menu-item:hover span{
    /* left: 10px; */
    transform:translateX(10px) ;
    transition: all 0.3s ease-in;

}

nav .menu-item span{
    /* margin-left: 10px; */
    transition: all 0.3s ease-in;


}



.progress-ring__circle {
    transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%,
  }


  nav.invoice-tab .active{
    border: none;
    border-bottom: 3px #6E65D9 solid;
    color: #6E65D9;
    background: #F1F0FB;
    
    /* padding: 30px; */
  }

  nav.invoice-tab a:hover{
    border: none;
    border-bottom: 3px #6E65D9 solid;
    color: #6E65D9;
    background: #F1F0FB;
    
    /* padding: 30px; */
  }